.App {
  /* text-align: center; */
  margin-top: 5%;
  background-color: rgb(236, 243, 243);
  width: 45%;
  margin-left: 16%;
  padding-left: 23%;
  padding-top: 4%;
  padding-bottom: 5%;
}

h1{
  margin-bottom: 8%;
  font-size: 300%;
  margin-left: -3%;
}

.input {
  margin-left: 5%;
}

.inputname{
  margin-left: 8%;
}

.inputemail{
  margin-left: 10%;
}

.reset {
  margin-left: 4%;
  border: 1px solid rgb(194, 190, 190);
  border-radius: 9%;
  background-color: rgb(194, 190, 190);
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
}

.btn {
  margin-top: 4%;
}

.submit{
  border: 1px solid rgb(194, 190, 190);
  background-color: rgb(194, 190, 190);
  border-radius: 9%;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
}


/* .btn {
  border: 1px solid gray;
} */



/* .App input{
  background-color: rgb(224, 233, 238);
} */
  




/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


